.logo {
  text-align: center;
}

img {
  width: 500px;
  height: auto;
}

.sectionClass {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.mainClass {
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
}

